<section class="productos0">
    <header>
      <!-- contenedor css para Pet Land, perro y el niño -->
      <div class="contenedor">
        <section class="contenido-header">
          <section class="textos-header">
            <h1><b>Pet-Land</b></h1>
            <h3><b>Tienda de mascotas</b></h3>
            <br />
            <h4>
              Hacer que tu mascota sea feliz, es lo que nos distingue como los
              mejores.
            </h4>
          </section>
          <img
            src="../../../assets/img/logo.jpg"
            alt=""
          />
        </section>
      </div>
    </header>
  </section>
  
  <!-- define color fondo contenedor Quienes Somos -->
  <section class="productos1">
    <section class="experts">
      <div class="cont-expert">
        <h5 class="flow-text">
          <h3><b>¿Quienes Somos?</b></h3>
          <br />
          <p class="flow-text">
            Somos una empresa que cuenta con gran variedad de productos para el
            bienestar de las mascotas, realiza la prestacion de servicios medicos
            veterinarios preventivos y ofrece seguros exequiales encargados de la
            cremación o entierro de perros y gatos domésticos tras su
            fallecimiento.
          </p>
          <br />
        </h5>
        <div class="interrogacion">
          <div class="experts" data-aos="zoom-in-right">
            <img src="../../../assets/img/localPetLand.jpg" alt="" />
  
            <h5 class="flow-text">
              <br />
              <span class="flow-text"><i class="material-icons">pets</i></span>
              <b>MISIÓN</b>
              <br /><br />
              <p class="flow-text">
                Somos una tienda conocida por ofrecer a los clientes los mejores
                productos para las mascotas y servicios de consulta veterinaria
                integral de la más alta calidad a precios asequibles en Colombia.
                <br /><br />
                Contamos con un gran equipo de trabajo encargado de atender las
                necesidades de tu amigo fiel, aportando y participando
                solidariamente para crear una comunidad inclusiva y el cuidado del
                medio ambiente.
              </p>
  
              <br /><br />
  
              <h5 class="flow-text">
                <span class="flow-text"><i class="material-icons">pets</i></span>
                <b>VISIÓN</b>
                <br /><br />
                <p class="flow-text">
                  Nos proyectamos como una empresa moderna y sólida que para el
                  año 2023 seguira siendo la tienda líder preferida de productos y
                  atencion veterinaria para mascotas en Colombia.
                </p>
                <br /><br />
              </h5>
            </h5>
          </div>
        </div>
      </div>
    </section>
  </section>
  
  <section class="productos">
    <!-- define color fondo contenedor producto -->
    <div class="contenedor1">
      <h3 class="titulo">Productos y Servicios que no te deben faltar!</h3>
      <div class="contenedor-articulo">
        <div class="articulo" data-aos="zoom-in-right">
          <img
            src="https://st3.depositphotos.com/11821474/15551/v/450/depositphotos_155516152-stock-illustration-vector-illustration-cat-litter-box.jpg"
            alt=""
            width="300px"
            height="300px"
          />
          <h3>Arenero para gatos</h3>
          <h5>
            <p>
              Un arenero para que tu mascota haga sus necesidades, comodo,
              practico y facil de limpiar. 
              <br> $35.000
            </p>
          </h5>
          <a href="#"><i class="large material-icons">add_shopping_cart</i></a>
        </div>
  
        <div class="articulo" data-aos="zoom-in-right">
          <img
            src="https://static6.depositphotos.com/1106005/640/i/600/depositphotos_6403003-stock-photo-dog-collar-and-leash.jpg"
            alt=""
            width="300px"
            height="300px"
          />
          <h3>Collar de Seguridad</h3>
          <h5>
            <p>
              Un collar muy seguro y comodo para pasear a tu mascota elaborado con
              un material extra duarero.
              <br> $18000
            </p>
          </h5>
          <a href="#"><i class="large material-icons">add_shopping_cart</i></a>
        </div>
  
        <div class="articulo" data-aos="zoom-in-right">
          <img
            src="https://static3.depositphotos.com/1000807/139/i/600/depositphotos_1392532-stock-photo-comb.jpg"
            alt=""
            width="300px"
            height="300px"
          />
          <h3>Peine para Mascotas</h3>
          <h5>
            <p>
              Un peine especial con serdas suaves para la eiminacion de pelo
              suelto tu mascota se setira muy feliz.
              <br> $12000
            </p>
          </h5>
          <a href="#"><i class="large material-icons">add_shopping_cart</i></a>
        </div>
  
        <div class="articulo" data-aos="zoom-in-right">
          <img
            src="https://st.depositphotos.com/1777829/4283/i/600/depositphotos_42830043-stock-photo-dog-biscuits-and-treats.jpg"
            alt=""
            width="300px"
            height="300px"
          />
          <h3>Croquetas</h3>
          <h5>
            <p>
              Deliciosas y suaves croquetas que a tu mascota le encataran
              elaboradas con ingredientes naturales sin conservantes.
              <br /><br />
              Para los peques y grandes! 
              <br> $9000
            </p>
          </h5>
          <a href="#"><i class="large material-icons">add_shopping_cart</i></a>
        </div>
        <div class="articulo" data-aos="zoom-in-right">
          <img
            src="https://st3.depositphotos.com/1310390/16534/v/600/depositphotos_165347948-stock-illustration-vector-pet-toys.jpg"
            alt=""
            width="300px"
            height="300px"
          />
          <h3>Juguetes anti-estres</h3>
          <h5>
            <p>
              Estos juguetes estan diseñados para que tu mascota juegue y no dañe
              tus sapatos y muebles son suaves y muy divertidos. 
              <br> $19000
            </p>
          </h5>
          <a href="#"><i class="large material-icons">add_shopping_cart</i></a>
        </div>
  
        <div class="articulo" data-aos="zoom-in-right">
          <br />
          <img
            src="https://st.depositphotos.com/34283208/53507/i/600/depositphotos_535078100-stock-photo-side-view-two-empty-wooden.jpg"
            alt=""
            width="300px"
            height="260px"
          />
          <br />
          <br />
          <h3>Pet House</h3>
          <h5>
            <p>
              <br />
              Contamos con la elaboracion de casas en madera para tu mascota, son
              muy comodas y frescas, el valor varia segun el tamaño desde...
              <br> $22000 mt2
            </p>
          </h5>
          <a href="#"><i class="large material-icons">add_shopping_cart</i></a>
        </div>
  
        <div class="articulo" data-aos="zoom-in-right">
          <br />
          <img
            src="https://static9.depositphotos.com/1594920/1088/i/600/depositphotos_10886454-stock-photo-group-of-4-dogs-dressed.jpg"
            alt=""
            width="300px"
            height="300px"
          />
          <br />
          <br />
          <h2>Boutique con mucho estilo</h2>
          <h5>
            <p>
              Donde encontraras las mejores prendas para vestir a tu mascota en
              toda ocasion.
            </p>
          </h5>
          <br /><br /><br />
          <a href="#"><i class="large material-icons">add_shopping_cart</i></a>
        </div>
  
        <div class="articulo" data-aos="zoom-in-right">
          <br />
          <img
            src="../../../assets/img/consultamedica.jpg"
            alt=""
            width="300px"
            height="300px"
          />
          <h2>Consulta Medica Veterinaria</h2>
          <h5>
            <p>
              Para que tu mascota reciba la atencion preventiva y tratamiento
              medico oportuno que merece.
            </p>
          </h5>
          <a href="#"><i class="large material-icons">add_shopping_cart</i></a>
        </div>

        <div class="articulo" data-aos="zoom-in-right">
          <br />
          <img
            src="../../../assets/img/cenizas1.jpg"
            alt=""
            width="300px"
            height="300px"
          />
          <br />
          <br />
          <h2>Seguro Exequial</h2>
          <h5>
            <p>
              Dar una despedida digna a las mascotas representa agradecimiento por
              su acompañamiento y evita problemas de sanidad medioambiental.
            </p>
          </h5>
          <a href="#"><i class="large material-icons">add_shopping_cart</i></a>
        </div>
      </div>
    </div>
  </section>
  
  <section class="productosx">
    <!-- define color fondo contenedor nuestras mascotas -->
    <section class="gallery" id="portafolio">
      <div class="contenedor6">
        <h5 class="flow-text">
          <br />
          <h3><b>Mascotas Pet-Land</b></h3>
          <div class="contenedor-galeria">
            <img
              src="../../../assets/img/gatotom.jpg"
              alt=""
              class="img-galeria"
            />
            <img
              src="../../../assets/img/perrobulldog.jpg"
              alt=""
              class="img-galeria"
            />
            <img
              src="../../../assets/img/papagayo.jpg"
              alt=""
              class="img-galeria"
            />
            <img
              src="../../../assets/img/conejo.jpg"
              alt=""
              class="img-galeria"
            />
            <img
              src="../../../assets/img/tortuga.jpg"
              alt=""
              class="img-galeria"
            />
            <img
              src="../../../assets/img/pecesito.jpg"
              alt=""
              class="img-galeria"
            />
          </div>
          <br />
          <br />
        </h5>
      </div>
    </section>
  
    <!-- define contenedor Planes -->
    <section class="contenedor9" id="expertos">
      <br />
      <h5 class="flow-text">
        <h3><b>Planes para el bienestar de tu mascota!</b></h3>
      </h5>
      <br />
  
      <div class="row">
        <div class="col s4" id="productos">
          <div class="center promo promo-example">
            <h5>
              <span class="number"><i class="material-icons">pets</i></span>
              <h4 class="center-align" span class="blue-text text-darken-2">
                <b>CRIOLLOS</b>
              </h4>
              <h5>
                <p>
                <b>-Descuento en toda la tienda del 20%.
                  <br />-Cuenta con chip de identificacion <br />-Cobertura 10
                  consultas veterinarias a domicilio <br />-Orientación veterinaria
                  via telefónica <br />-Limpieza dental <br />-Pipeta antipulgas
                  <br />*Costo $50.000
                </b></p>
              </h5>
            </h5>
            <br />
            <button
              class="btn waves-effect waves-light"
              type="submit"
              name="action"
            >
              + Info
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
  
        <div class="col s4" id="productos">
          <div class="center promo promo-example">
            <h6>
              <br />
              <span class="number"><i class="material-icons">pets</i></span>
              <h4 class="center-align" span class="blue-text text-darken-2">
                <b>SUPERPET</b>
              </h4>
              <h5>
                <p class="light justify">
                <b>-Descuento en toda la tienda del 35%.
                  <br />-Cuenta con chip de identificacion <br />-Cobertura 15
                  consultas veterinarias a domicilio <br />-Orientación veterinaria
                  telefónica <br />-Asesoría jurídica telefónica <br />-Limpieza
                  dental <br />-Esquema de vacunación (hasta 28 kilogramos)
                  <br />-Celebración de cumpleaños (torta, gorro, vela y obsequio).
                  <br />*Costo $100.000
                </b></p>
              </h5>
            </h6>
            <button
              class="btn waves-effect waves-light"
              type="submit"
              name="action"
            >
              + Info
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
  
        <div class="row">
          <div class="col s4" id="productos">
            <div class="center promo promo-example">
              <h6>
                <span class="number"><i class="material-icons">pets</i></span>
                <h4 class="center-align" span class="blue-text text-darken-2">
                  <b>PET-SENIOR</b>
                </h4>
                <h5>
                  <p><b>
                    -Descuento en toda la tienda del 25%. <br />-Cuenta con chip de
                    Iidentificacion <br />-Cobertura 15 consultas veterinarias a
                    domicilio <br />-Orientación veterinaria telefónica
                    <br />-Asesoría jurídica telefónica <br />-Limpieza dental
                    <br />-Esquema de vacunación (hasta 28 kilogramos)
                    <br />-Celebración de cumpleaños (torta, gorro, vela y
                    obsequio). <br />-Cobertura Plan Exequial. <br />*Costo $80.000
                  </b></p>
                </h5>
              </h6>
              <button
                class="btn waves-effect waves-light"
                type="submit"
                name="action"
              >
                + Info
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
      
    <section class="productos1">
      <!-- Gestion de Contacto -->
      <section class="contactenos" id="contactenos1">
        <div class="contenedor6">
          <h5 class="flow-text">
            <div class="contenedor-galeria1">
              <h3><b>Contactanos</b></h3>
              <iframe
                style="border: 0; width: 100%; height: 350px"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.825028760683!2d-75.2431033492436!3d4.443642545053287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38c484bebba1f7%3A0x4c9d807d3125b402!2sTeatro%20Tolima!5e0!3m2!1ses!2sco!4v1664516638489!5m2!1ses!2sco"
                frameborder="0"
                allowfullscreen
              ></iframe>
              
              <section class="contact">                
                <br><br>                
                <div class="container" data-aos="fade-up">
                  <div class="row mt-5">
                    <div class="col-lg-4">
                      <div class="info">
                        <div class="address">
                          <i class="bi bi-geo-alt"></i>
                          <h5><b>Ubicacion:</b></h5>
                          <h6>Cra 3 #11a-2, Ibagué, Tolima</h6>
                        </div>
          
                        <div class="open-hours">
                          <i class="bi bi-clock"></i>
                          <h5><b>Horario de Atencion:</b></h5>
                          <h6>Lunes a Sabados:
                            8:00 AM - 4:00 PM
                          </h6>
                        </div>
          
                        <div class="email">
                          <i class="bi bi-envelope"></i>
                          <h5><b>Email:</b></h5>
                          <h6>info@petland.com</h6>                          
                        </div>
          
                        <div class="phone">
                          <i class="bi bi-phone"></i>
                          <h5><b>Telefono:</b></h5>
                          <h6>+608 2701816</h6>                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>             
              </section>

              <form action="">
                <div class="form">
                  <h3>Dejanos tu consulta aquí!</h3>
                  <div class="grupo">
                    <input type="text" name="" id="" required /><span
                      class="barra"
                    ></span>
                    <label>Nombre</label>
                  </div>
                  <div class="grupo">
                    <input type="text" name="" id="" required /><span
                      class="barra"
                    ></span>
                    <label>Apellido</label>
                  </div>
                  <div class="grupo">
                    <input type="text" name="" id="" required /><span
                      class="barra"
                    ></span>
                    <label>Telefono</label>
                  </div>
        
                  <div class="grupo">
                    <input type="email" name="" id="" required /><span
                      class="barra"
                    ></span>
                    <label>Email</label>
                  </div>
                  <div class="grupo"></div>
                  <div class="grupo">
                    <textarea name="" id="" rows="3" required></textarea
                    ><span class="barra"></span>
                    <label>Mensaje</label>
                  </div>
                  <div class="grupo">
                    <input type="checkbox" class="filled-in" checked="checked" value="" />
                    <span>Acepto Tratamiento de Datos</span>                    
                  </div>                  
                  <button type="submit">Enviar</button>
                </div>
              </form>
            </div>            
          </h5>
          </div>                  
       <br />   

       
      
