<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"
      ><img id="logo" src="https://i.ibb.co/s1nXL3h/logo.jpg" alt="logo"
    /></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i></a
    >
    <ul class="right hide-on-med-and-down">
      <li><input id="search" type="text" name="search" value=""
          placeholder="¿Qué estas buscando?"
          class="input-text" maxlength="128" role="combobox"
          aria-haspopup="false" aria-autocomplete="both"
          autocomplete="on" aria-expanded="false"/></li>
      <li class="active">
        <a href="administracion/consultar-usuario"><i class="large material-icons">search</i></a>
      </li>
      <li><a href="administracion/consultar-usuario">Usuarios</a></li>
      <li><a href="administracion/consultar-producto-servicio">Productos y Servicios</a></li>
      <li><a href="gestion/consultar-pedido">Pedidos</a></li>
      <li><a href="gestion/consultar-mascota">Mascotas</a></li>
      <li><a href="gestion/consultar-prospecto">Prospectos</a></li>            
      <li><a href="administracion/consultar-sucursal">Sucursales</a></li>
      <li><a href="administracion/consultar-plan">Planes</a></li>
      <li><a href="seguridad/identificacion">Iniciar Sesion</a>
      </li>      
    </ul>
  </div>
</nav>
<br />
<br />
<br />

<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">Nosotros</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">Javascript</a></li>
  <li><a href="mobile.html">Mobile</a></li>
</ul>

<br>
<br>
<br>

