<body>
    <div class="container">
      <form [formGroup]="fgValidador" (ngSubmit)="ProcesarDatos()" class="col s12">
        <!-- Page Content goes here -->
        <div class="row">
            <div class="col s12">
                <br>
                <h5 class="teal-text darken-4"><strong>Agregar o Editar Usuarios</strong></h5>
            </div>
        </div>

        <div>
            <div class="row">

                    <div class="row">
                        <div class="input-field col s4">
                            <i class="material-icons prefix">sentiment_very_satisfied</i>
                            <input formControlName="txtUsuario" id="txtUsuario" type="text" class="validate"
                            required="" aria-required="true">
                            <label for="txtUsuario" class="active">Usuario</label>
                            <span class="helper-text" data-error="El campo Usuario es obligatorio..." data-success="correcto"></span>
                        </div>
                        <div class="input-field col s4">
                            <i class="material-icons prefix">https</i>
                            <input formControlName="txtClave" id="txtClave" type="password" class="validate"
                            required="" aria-required="true">
                            <label for="txtClave" class="active">Clave</label>
                            <span class="helper-text" data-error="El campo Clave es obligatorio..." data-success="correcto"></span>
                        </div>
                        <div class="input-field col s1">
                            <i class="material-icons prefix">supervisor_account</i>
                            <label>Perfil</label>
                        </div>
                        <div class="input-field col s3">
                            <select formControlName="txtRol" class="browser-default " required="" aria-required="true">
                                <option value="">Seleccione...</option>
                                <option value="Asesor">Asesor</option>
                                <option value="Cliente">Cliente</option>
                                <option value="Administrador">Administrador</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <i class="material-icons prefix">assignment</i>
                            <input formControlName="txtCedula" id="txtCedula" type="number" class="validate"
                            required="" aria-required="true">
                            <label for="txtCedula" class="active">Cedula</label>
                            <span class="helper-text" data-error="El campo Cedula es obligatorio..." data-success="correcto"></span>
                        </div>
                        <div class="input-field col s4">
                            <i class="material-icons prefix">account_circle</i>
                            <input formControlName="txtNombres" id="txtNombres" type="text" class="validate"
                            required="" aria-required="true">
                            <label for="txtNombres" class="active">Nombres</label>
                            <span class="helper-text" data-error="El campo Nombres es obligatorio..." data-success="correcto"></span>
                        </div>
                        <div class="input-field col s4">
                            <i class="material-icons prefix">account_circle</i>
                            <input formControlName="txtApellidos" id="txtApellidos" type="text" class="validate"
                            required="" aria-required="true">
                            <label for="txtApellidos" class="active">Apellidos</label>
                            <span class="helper-text" data-error="El campo Apellidos es obligatorio..." data-success="correcto"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <i class="material-icons prefix">add_location</i>
                            <input formControlName="txtCiudad" id="txtCiudad" type="text" class="validate"
                            required="" aria-required="true">
                            <label for="txtCiudad" class="active">Ciudad</label>
                            <span class="helper-text" data-error="El campo Ciudad es obligatorio..." data-success="correcto"></span>
                        </div>
                        <div class="input-field col s4">
                            <i class="material-icons prefix">email</i>
                            <input formControlName="txtEmail" id="txtEmail" type="email" class="validate"
                            required="" aria-required="true">
                            <label for="txtEmail" class="active">Email</label>
                            <span class="helper-text" data-error="El campo Email es obligatorio..." data-success="correcto"></span>
                        </div>
                        <div class="input-field col s4">
                            <i class="material-icons prefix">local_phone</i>
                            <input formControlName="txtTelefono" id="txtTelefono" type="text" class="validate"
                            required="" aria-required="true">
                            <label for="txtTelefono" class="active">Teléfono</label>
                            <span class="helper-text" data-error="El campo Cedula es obligatorio..." data-success="correcto"></span>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col s3">
                          <a routerLink="/administracion/consultar-usuario"
                              class="btn waves-effect waves-light orange col 2">
                              <i class="material-icons">keyboard_backspace</i>
                              Cancelar
                          </a>
                      </div>

                      <div class="col s3">
                          <button [disabled]="fgValidador.invalid" class="btn waves-effect waves-light green col 2" type="submit" name="guardar">
                              <i class="material-icons">check</i>
                              Guardar
                          </button>
                      </div>
                  </div>
            </div>
        </div>
      </form>
    </div>
</body>
