

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />

<footer>
    <div class="partFooter">
        <img src="https://imaster.academy/theme/ruta2/pix/login/logo-login.png" alt="">
    </div>
    <div class="partFooter">
        <h2>Proyecto Ciclo 4</h2>
        <h3><a href="#">Grupo 8</a></h3>
        <h3><a href="#">Ruta 2</a></h3>
        <a href="#"></a>
    </div>
    <div class="partFooter">
        <h2>Proyecto realizado por: </h2>
        <h3><a href="#">Carlos Alberto Vivas Reinoso</a></h3>
        <h3><a href="#">Rafael Antonio Londoño</a></h3>
        <h3><a href="#">Carolina Arias Rivas</a></h3>
        <h3><a href="#">Cristian Camilo Rengifo Soler</a></h3>
        <h3><a href="#">Deivis German Sthid Cardenas</a></h3>

    </div>
    <div class="partFooter">
        <h2>Redes sociales</h2>
        <div class="redes">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
</footer>